<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Croissant is best</title>
    <link rel="stylesheet" href = "/templates/styles.css">
    <link rel="icon" href = "/templates/crois.png">
    <script src = "/templates/script.js"></script>
</head>
<body>
    <div class="navbar header containers">
        <div class = "logo">
            <img src = "/templates/crois.png"></img>
        </div>
        <div class = "navbar-group">
            <a class ="header-link">Header link 1</a>
            <a class ="header-link">Header link 2</a>
            <a class ="header-link">Header link 3</a>
        </div>
    </div>
    <div class="hero-container containers">
        <div class="hero-left">
            <div class="hero-heading">this website is awesome</div>
            <div class="hero-subheading">This website has some subtext that goes here under the main title. It's a smaller font and color is lower in contrast</div>
            <button href="/login">Login!</button>
        </div>
        <div class="hero-right">
            <img src = "/templates/crois.png"></img>
        </div>
    </div>
    <div class="info-container containers">
        <div class = "info-h1 h1">Some Croissants</div>
        <div class = "info-card-container">
            <div class = "info-card"><span class = "info-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem temporibus ut ratione illo officiis fuga dolorem facilis</span></div>
            <div class = "info-card"><span class = "info-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem temporibus ut ratione illo officiis fuga dolorem facilis</span></div>
            <div class = "info-card"><span class = "info-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem temporibus ut ratione illo officiis fuga dolorem facilis</span></div>
            <div class = "info-card"><span class = "info-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptatem temporibus ut ratione illo officiis fuga dolorem facilis</span></div>
        </div>
    </div>
    <div class="quote-container containers">
        <div class="quote">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis assumenda quam fugiat hic earum, obcaecati officiis ipsam sit delectus necessitatibus dolor veritatis voluptatibus nobis quas molestias nam perferendis nesciunt harum?</div>
        <div class="byline"> - by someone</div>
    </div>
    <div class = "call-to-action-wrapper containers">
        <div class="call-to-action-container">
            <div class="call-to-action-text">
                <div class="call-to-action-h1 h1"> It's time.</div>
                <div class="call-to-action-subheading"> Croissant. Now.</div>
            </div>
            <button class="sign-up-btn">Sign Up</button>
        </div>
        
    </div>
    <div class="footer"> @2024 Copyright</div>
</body>
</html>